@model System.Web.Mvc.HandleErrorInfo

@{
    if (Session["applier"] != null)
    {
        Layout = "~/Views/Shared/_LayoutApplier.cshtml";
    }

    if (Session["company"] != null)
    {
        Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    }




}

    <div class="container bg-white text-center body-content">
        <h1>Fejl 500 - Siden du prøver at tilgå kan ikke findes </h1>

        <img src="~/Content/image/notfoundImage.jpg" />
    </div>

