<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAdminService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IApplierService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8715/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAdminService" contract="AdminServiceReference.IAdminService"
                name="WSHttpBinding_IAdminService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8711/ApplierService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IApplierService" contract="ApplierServiceReference.IApplierService"
                name="WSHttpBinding_IApplierService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
