@model JobMe_Homepage.JobApplicationServiceReference.JobApplication


<!-- #region Deployement-->
<div class="col-sm-12">
  
    <div class="row" id="">

      

        <p id="ApplicationHeadline">@Model.Title:</p>
    <p id="cvHeading">@Model.Description</p>
        

</div></div>
<!--#endregion-->


