@model JobMe_Homepage.Models.VMCompanyANDJobPost
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
@if (TempData["Success"] != null)
{
                  <!-- Modal -->
    <div class="modal fade in" id="succesModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-body">

                    <p class="text-success" id="successMessage">@TempData["Success"]</p>

                </div>

            </div>

        </div>
    </div>


}

<h2>@Model.Company.CompanyName</h2>

<div class="row">
    <div class="col-sm-6 bg-white">
        <h2>Dine aktuelle jobannoncer:</h2>
        <div class="row">
            <div class="col-sm-6">
                <b>Job title:</b>
            </div>
            <div class="col-sm-3">
                <b> Link til jobpost:</b>
            </div>
            <div class="col-sm-3">
                <b> Link til ansøgere:</b>
            </div>
        </div>

        @foreach (var JobPost in Model.JobPost)
        {

            <div class="row">
                <div class="col-sm-6">
                    <b>@JobPost.Title</b>
                </div>
                <div class="col-sm-3">
                    <a href="company/JobPost/@JobPost.Id">Link til jobPost</a>
                </div>
                <div class="col-sm-3">
                    <a href="company/AppliersForJob/@JobPost.Id">Ansøgerer</a>
                </div>
            </div>

        }
    </div>
</div>

@section scripts {



    <script>


        window.onload = function () {
            $('#succesModal').show();

            $('#succesModal').click(function (event) {
                $('#succesModal').hide();
            });
        }
    </script>


}