
@{
    ViewBag.Title = "Meeting";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}


<div class="row">
	<div class="col-sm-12">
		<h2>Meeting</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		Lorem ipsum dolor sit amet, wisi et aliquet et porttitor sed nec, diam est volutpat, sem qui lectus tempor, at sed lectus nam, porta turpis elit ut nunc laborum. Pede quam, vivamus mauris pellentesque turpis lobortis lacus commodo, condimentum mauris ante a ut. Neque tempor ac vehicula scelerisque ante, in vel scelerisque non auctor suspendisse. Sociis sed urna risus suspendisse nam a, ridiculus lacus amet ultricies sed enim sint. Ac placerat laoreet lobortis viverra in, praesent sodales morbi venenatis. Ac nunc, egestas id elementum at. Ante convallis vehicula.
	</div>
</div>
<div class="row" id="marginTopMeeting">
	<div class="col-sm-8">
		ting
	</div>
	<div class="col-sm-4">
		<button type="button" id="addNewBookingMeeting" class="btn btn-blue">Tilføj ny booking</button>
	</div>
</div>


