<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=kraka.ucn.dk;Database=dmaa0916_201116;User Id=dmaa0916_201116; Password=Password1!;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


  <!-- Er sat så man kan lave servicereference til den første, tjek program.cs main i ConsoleHost for yderligere hosting af de andre services. -->

  <system.serviceModel>
    <services>
      <!-- Start of Company Service -->
      <service name="WCFJobMeService.CompanyService" behaviorConfiguration="SecureBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8710/" />
          </baseAddresses>
        </host>
        <endpoint address="CompanyService" binding="wsHttpBinding" contract="WCFJobMeService.ICompanyService" bindingConfiguration="SecureBindingHttps">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <!-- End of Company Service -->

      <!--Start of Applier Service-->
      <service name="WCFJobMeService.ApplierService" behaviorConfiguration="SecureBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8711/" />
          </baseAddresses>
        </host>
        <endpoint address="ApplierService" binding="wsHttpBinding" contract="WCFJobMeService.IApplierService" bindingConfiguration="SecureBindingHttps">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <!--End of Applier Service-->

      <!--Start of Job Post Service-->
      <service name="WCFJobMeService.JobPostService" behaviorConfiguration="SecureBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8712/" />
          </baseAddresses>
        </host>
        <endpoint address="JopPostService" binding="wsHttpBinding" contract="WCFJobMeService.IJobPostService" bindingConfiguration="SecureBindingHttps">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <!--End of Job Post Service-->

      <!--Start of JobCV Service-->
      <service name="WCFJobMeService.JobCVService" behaviorConfiguration="SecureBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8713/" />
          </baseAddresses>
        </host>
        <endpoint address="JobCVService" binding="wsHttpBinding" contract="WCFJobMeService.IJobCVService" bindingConfiguration="SecureBindingHttps">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <!--End of JobCV Service-->

      <!--Start of Job Application Service-->
      <service name="WCFJobMeService.JobApplicationService" behaviorConfiguration="SecureBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8714/" />
          </baseAddresses>
        </host>
        <endpoint address="JobApplicationServer" binding="wsHttpBinding" contract="WCFJobMeService.IJobApplicationService" bindingConfiguration="SecureBindingHttps">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>

      <!--End of Job Application Service and all services-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue="79f28d6d7292eea32df6ee1affb4273d0615ff53" storeName="My" storeLocation="LocalMachine"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBindingHttps">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>