<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=kraka.ucn.dk;Database=dmaa0916_201116;User Id=dmaa0916_201116; Password=Password1!;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    
  
  <!-- Er sat så man kan lave servicereference til den første, tjek program.cs main i ConsoleHost for yderligere hosting af de andre services. -->
  
    <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApplierService" />
      </basicHttpBinding>
    </bindings>
    
    <services>
      <service name="WCFJobMeService.CompanyService">
        <endpoint address="CompanyService" binding="basicHttpBinding" contract="WCFJobMeService.ICompanyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8710/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.ApplierService">
        <endpoint address="ApplierService" binding="basicHttpBinding" contract="WCFJobMeService.IApplierService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8711/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.JobPostService">
        <endpoint address="JopPostService" binding="basicHttpBinding" contract="WCFJobMeService.IJobPostService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8712/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.JobCVService">
        <endpoint address="JobCVService" binding="basicHttpBinding" contract="WCFJobMeService.IJobCVService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8713/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCFJobMeService.JobApplicationService">
        <endpoint address="JobApplicationServer" binding="basicHttpBinding" contract="WCFJobMeService.IJobApplicationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8714/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
           --><!--To avoid disclosing metadata information, 
          set the values below to false before deployment--><!-- 
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
           --><!--To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information--><!-- 
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>