@model JobMe_Homepage.Models.VMJobPostAndApplierLists
@{
    ViewBag.Title = "Home Page";

}
<!--#region Create a profile area-->
<div class="panel-body" id="FrontpageBackground">
    <div id="" class="container">
        <div id="textCounter">
            <h2>Vi har lige nu @Model.countOfJobPosts jobannoncer og @Model.countOfAppliers jobsøgende profiler</h2>
        </div>
        <div class="panel panel-default center-block" id="createBox">
            <div id="formStyling">
                <div id="CreateBoxHeadline"> <h3>Opret dig nu og få adgang med det samme!</h3></div>
               
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Jobansogere" data-toggle="tab">Jobansøger</a></li>
                        <li><a href="#Virksomheden" data-toggle="tab">Virksomhed</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Jobansogere" class="tab-pane fade in active">
                            @Html.Partial("_CreateApplier", "Applier")
                        </div>
                        <div id="Virksomheden" class="tab-pane fade">
                            @Html.Partial("_CreateCompany", "Company")
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</div>

<!--#endregion-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="col-sm-12" id="feature1">
                <img src="https://imgur.com/HC7Uhbf.jpg" width="120" height="120" align="middle" class="FeatureImages" />
                <h2>Find job</h2>
                <p>
                    På JobMe er det nemt at finde de jobs der passer dine kriterier. Igennem filtere kan du sortere i søgningen så du kun får relevante jobslag.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-sm-12" id="feature1">
                <img src="https://imgur.com/AaQu0cb.jpg" width="120" height="120" align="middle" class="FeatureImages" />
                <h2>Find jobs nær dig</h2>
                <p>
                    På JobMe har du muligheden for at begrændse din jobsøgning til en bestemt radius. Det giver dig muligheden
                    for at kun se jobs der er relevante for dig!
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-sm-12" id="feature1">
                <img src="https://imgur.com/cmWNI7o.jpg" width="120" height="120" align="middle" class="FeatureImages" />
                <h2>Find medarbejder</h2>
                <p>
                    Som firma, kan du hos JobMe finde den medarbejder du lige står og mangler. Med hjælp af filter søgning og mødebooking, har det aldrig været nemmere.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-sm-12" id="feature1">
                <img src="https://imgur.com/ZeZNOur.jpg" width="120" height="120" align="middle" class="FeatureImages" />
                <h2>Book et møde</h2>
                <p>
                    Når du har fundet de mest relevante til en jobstilling, kan du planlægge og arrangere et møde igennem vores møde booking system.
                </p>
            </div>
        </div>
    </div>
</div>
